@model DiplomaProjectTopAcademy.Models.ApplicationUser
@inject IConfiguration Configuration

@*@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        links of resources taken as a basis: 
        1. <a href="https://codewithmukesh.com/blog/user-management-in-aspnet-core-mvc/#what-well-learn">Custom User Management in ASP.NET Core MVC with Identity </a>.
        2. <a href="https://codewithmukesh.com/blog/permission-based-authorization-in-aspnet-core/">Permission-Based Authorization in ASP.NET Core - Complete User Management Guide in .NET 5</a>.
        3. <a href="https://codewithmukesh.com/blog/multitenancy-in-aspnet-core/#service-registrations">Multitenancy in ASP.NET Core - Simplest Way to achieve Multitenancy</a>.
    </p>
</div>*@

@{
    ViewData["Title"] = "Identity Service";
    var businessUrl = Configuration["BusinessLogic:BaseUrl"];

}

<div class="text-center">
    <h1 class="display-4">Welcome to Identity</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <!-- Кнопка перехода к BusinessLogic для зарегистрированных пользователей-->
@*     @if (User.Identity.IsAuthenticated)
    {
    <div class="mt-4 mb-5">
            <a href="https://localhost:44324/" class="btn btn-primary btn-lg">
                <!-- переделать через API Gateway для BusinessLogic в Ocelot или YARP изменить жесткий URL-->
            <i class="fas fa-arrow-right me-2"></i>Go to BusinessLogic Module
        </a>
    </div>
    } *@
    @if (User.Identity.IsAuthenticated)
    {
        <div class="mt-4 mb-5">
            @if (Model != null && Model.IsActive && Model.SubscriptionEndDate.HasValue && Model.SubscriptionEndDate > DateTime.UtcNow)
            {
                <a asp-action="RedirectToBusiness" asp-controller="Home" class="btn btn-primary btn-lg rounded">
                    <i class="fas fa-arrow-right me-2"></i>Go to BusinessLogic Module
                </a>
            }
            else
            {
                <button class="btn btn-secondary btn-lg rounded" disabled>
                    <i class="fas fa-ban me-2"></i>Go to BusinessLogic Module
                </button>
                <p class="mt-2 text-danger fw-bold">
                    You need to select a subscription plan
                </p>
            }
        </div>
    }



    <h4>Resources used as basis:</h4>
    <ul class="text-start" style="display: inline-block; text-align: left;">
        <li>
            <a href="https://codewithmukesh.com/blog/user-management-in-aspnet-core-mvc/#what-well-learn">
                Custom User Management in ASP.NET Core MVC with Identity
            </a>
        </li>
        <li>
            <a href="https://codewithmukesh.com/blog/permission-based-authorization-in-aspnet-core/">
                Permission-Based Authorization in ASP.NET Core
            </a>
        </li>
        <li>
            <a href="https://codewithmukesh.com/blog/multitenancy-in-aspnet-core/#service-registrations">
                Multitenancy in ASP.NET Core
            </a>
        </li>
    </ul>
</div>
