@model DiplomaProjectTopAcademy.Models.MainApplicationModels.Slab

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Slab</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scope" class="control-label"></label>
                <input asp-for="Scope" class="form-control" />
                <span asp-validation-for="Scope" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Thickness" class="control-label"></label>
                <input asp-for="Thickness" class="form-control" />
                <span asp-validation-for="Thickness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectSheet" class="control-label"></label>
                <input asp-for="ProjectSheet" class="form-control" />
                <span asp-validation-for="ProjectSheet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDProject" class="control-label"></label>
                <select asp-for="IDProject" class ="form-control" asp-items="ViewBag.IDProject"></select>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label">Загрузить изображение</label>
                <input type="file" name="imageFile" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
