@model DiplomaProjectTopAcademy.Models.MainApplicationModels.Slab

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Slab</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IDSlab" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scope" class="control-label"></label>
                <input asp-for="Scope" class="form-control" />
                <span asp-validation-for="Scope" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Thickness" class="control-label"></label>
                <input asp-for="Thickness" class="form-control" />
                <span asp-validation-for="Thickness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectSheet" class="control-label"></label>
                <input asp-for="ProjectSheet" class="form-control" />
                <span asp-validation-for="ProjectSheet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDProject" class="control-label"></label>
                <select asp-for="IDProject" class="form-control" asp-items="ViewBag.IDProject"></select>
                <span asp-validation-for="IDProject" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Image" style="width: 100%;">Текущее изображение</label>

                    @if (Model.Image != null)
                    {
                        <img id="previewImage" style="width:350px;height:350px; object-fit:cover"
                             src="data:image/png;base64,@Convert.ToBase64String(Model.Image)" alt="Загруженное изображение" />
                    }
                    else
                    {
                        <img id="previewImage" style="width:350px;height:350px; object-fit:cover" src="" />
                    }

                    <input type="file"
                           accept=".jpg,.jpeg,.gif,.png"
                           name="imageFile"
                           class="form-control"
                           style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;"
                           onchange="document.getElementById('previewImage').src = window.URL.createObjectURL(this.files[0])" />

                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
