html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* дл€ заблокированных пользователей inactive*/
.inactive-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.9);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inactive-message {
    max-width: 500px;
    padding: 20px;
    text-align: center;
    z-index: 10000;
}

.inactive-user {
    pointer-events: none;
    opacity: 0.5;
}

/* —тили дл€ основной кнопки перехода в бизнес логику*/
.btn-primary {
    background-color: #0d6efd;
    border-color: #0d6efd;
    padding: 10px 20px;
    font-size: 1.1rem;
    transition: all 0.3s ease;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    }
    /* Ёффекты при наведении */
    .btn-primary:hover {
        background-color: #0b5ed7;
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        color: white;
        text-decoration: none;
    }
    /* Ёффекты при нажатии */
    .btn-primary:active {
        transform: translateY(0);
        box-shadow: none;
    }
    /* ƒл€ иконки Font Awesome р€дом с текстом */
    .btn-primary i {
        margin-right: 8px;
    }